.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: nar1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(rgba(0, 22, 34, 0.865), rgba(0, 29, 20, 0.875)), url(ai-generated.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

/******************************
    HERO glow particles
******************************/

.particle2 {
  position: absolute;
  opacity: 0.02;
  z-index: 0;
  height: 100vh;
  filter: blur(0px);
  
}

.particle2-2 {
  left: 0px;
  top: 0px;
  transform: scale(2);
  filter: blur(0.1px);
}

.particle2-3 {
  right: 0px;
  top: 0px;
  transform: scale(2);
  filter: blur(0.1px);
}

.particle2-4 {
  left: 0px;
  top: 0px;
  transform: scale(6);
  filter: blur(0.6px);
}

.particle2-5 {
  right: 0px;
  top: 0px;
  transform: scale(6);
  filter: blur(0.6px);
}

/******************************
    TYPOGRAPHY
******************************/

h2 {
  color: #7b898a;
  font-size: 4em;
  font-family: Jost;
  font-weight: 300;
}

h4 {
  color: #7b898a;
  font-family: Jost;
  font-weight: 400;
  font-size: 24px;
  margin: 36px 0 0 0;
}

.stark-title {
  font-family: 'Finger Paint';
  text-transform: lowercase;
  font-weight: bold;
  color: #ec790e;
}

p {
  font-family: "nunito";
  color: black;
  opacity: 0.5;
  max-width: 42em;
  margin: auto;
  line-height: 1.7em;
}

p.solo {
  margin: 80px auto 20px;
}

/******************************
    BG CREATURES
******************************/

.creature1 {
  position: absolute;
  left: -11em;
  height: 100vh;
}

.creature2 {
  position: absolute;
  right: -11em;
  height: 100vh;
  transform: scaleX(-1)
}

/******************************
    MENU
******************************/
.menu-wrap {
  position: absolute;
  top: 0;
}

.menu-item {
  letter-spacing: 0.1em;
  color: white;
  font-family: 'Jost';
  text-decoration: none;
  padding: 20px 30px;
  opacity: 0.3;
  font-size: 0.5em;
  text-transform: uppercase;
  border-radius: 2px;
  transform-style: flat;
  transform: skew(20deg);
  display: inline-block;
  transition: 0.3s;
  border: 0;
}

.menu-item span {
  transform: skew(-20deg);
  display: inline-block
}

.menu-item:hover {
  background: #ffffff38;
  opacity: 0.8;
  border-bottom: 8px solid #d86a04;
}


/******************************
    Game Title
******************************/

.game-title {
  color: rgb(234, 234, 234);
  font-family: "Finger Paint";
  filter: blur(0px);
  font-size: 3.5em;
  margin: 0 0 20px 0;
}

/******************************
    Game Title ANIMATION
******************************/

h1.game-title {
  animation: game-title-x 7s cubic-bezier(0.7, 0.13, 0.29, 0.86) infinite,auto,
              game-title-y 6s cubic-bezier(0.7, 0.27, 0.34, 0.79) infinite,auto;
  position:relative;
}


@keyframes game-title-x {
0% {
  left: -5px;
  transform: scale(1) rotate(3deg);
  
}

50% {
  left: 5px;
  transform: scale(0.9) rotate(-3deg);
}

100% {
  left: -5px;
  transform: scale(1) rotate(3deg);
}
}

@keyframes game-title-y {
0% {
  top: 5px;
  
}

50% {
  top: -5px;
}

100% {
  top: 5px;
}
}

/******************************
    Game Title letters glow ANIMATION
******************************/

.gt1 {
  animation: gt1 1.2s ease infinite;
}
.gt2 {
  animation: gt2 1.4s ease infinite;
}
.gt3 {
  animation: gt3 1.6s ease infinite;
}
.gt4 {
  animation: gt4 1.8s ease infinite;
}
.gt5{
  animation: gt5 2s ease infinite;
}

@keyframes gt5 {
0% {
  opacity: 50%;
  text-shadow: 0 0 transparent;
}

50% {
  opacity: 80%;
  text-shadow: 0%;
  text-shadow: 0px 0px 10px #0000006e, 0px 10px 30px #ffffff5e;
}

100% {
  opacity: 50%;
  text-shadow: 0 0 transparent;
}
}

@keyframes gt4 {
0% {
  opacity: 80%;
  text-shadow: 0px 0px 10px #0000006e, 0px 10px 30px #ffffff5e;
}

50% {
  opacity: 50%;
  text-shadow: 0 0 transparent;
}

100% {
  opacity: 80%;
  text-shadow: 0px 0px 10px #0000006e, 0px 10px 30px #ffffff5e;
}
}

@keyframes gt3 {
0% {
  opacity: 60%;
  text-shadow: 0 0 transparent;
}

50% {
  opacity: 80%;
  text-shadow: 0px 0px 10px #0000006e, 0px 10px 30px #ffffff5e;
}

100% {
  opacity: 60%;
  text-shadow: 0 0 transparent;
}
}

@keyframes gt2 {
0% {
  opacity: 50%;
  text-shadow: 0 0 transparent;
}

50% {
  opacity: 70%;
  text-shadow: 0px 0px 10px #0000006e, 0px 10px 30px #ffffff5e;
}

100% {
  opacity: 50%;
  text-shadow: 0 0 transparent;
}
}

@keyframes gt1 {
0% {
  opacity: 40%;
  text-shadow: 0 0 transparent;
}

50% {
  opacity: 60%;
  text-shadow: 0px 0px 10px #0000006e, 0px 10px 30px #ffffff5e;
}

100% {
  opacity: 40%;
  text-shadow: 0 0 transparent;
}
}






h3 {
  font-family: "Jost";
  font-size: 40px;
  font-weight: 300;
  margin-top: -10px;
}

h3 span.h3 {
  opacity: 0.5;
}

h3 span.h3-highlight {
  font-weight: 800;
  text-transform: lowercase;
  margin-left: 0;
  position: relative;
}

h3 span.h3-highlight:after {
  content: "";
  background: #d86a04;
  width: 140px;
  height: 46px;
  display: inline-block;
  border-radius: 9px;
  transform: skew(49deg, -7deg);
  position: absolute;
  left: 58px;
  top: 10px;
  z-index: -1;
  opacity: 1;
}

h3 span.h3-highlight span {
  opacity: 0.8;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.398);
}


/******************************
    Main BUTTON
******************************/

.btn1 {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Jost";
  font-size: 0.8em;
  text-transform: uppercase;
  color: white;
  background: #ffffff39;
  transition: 1s;
  box-shadow: 8px 8px 0 #00000078;
  transform: skewX(-15deg);
  border-radius: 2px;
}

.btn1 span {
  opacity: 0.8;
}

.btn1:focus {
  outline: nar1; 
}

.btn1:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #d86a04;
}

.btn1 span:first-child {
  margin: auto;
}

.btn1 span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.btn1:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg) 
}


/**************SVG****************/

.btn1 svg {
  top: 4px;
  position: relative;
}

path.ar1 {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.ar2 {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn1:hover path.ar3 {
  animation: color_anim 1s infinite 0.2s;
}

.btn1:hover path.ar1 {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn1:hover path.ar2 {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
      fill: white;
  }
  50% {
      fill: #d86a04;
  }
  100% {
      fill: white;
  }
}




/******************************
    SEC 2
******************************/

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.07;
  z-index: -2;
  transform: scaleX(-1);
}

.waves-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  bdisplay: none;
  background-image: linear-gradient(to top , #ffffff, #ffffff30);
  z-index: -1;
}

.sec2 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  overflow:hidden;
}

.sec2-blurbs {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  margin: auto;
  padding-bottom: 60px;
}

.blurb div {
  width: 200px;
}

/******************************
    SEC 2 - BLURBS
******************************/

.blurb {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}


/******************************
    SEC 2 - BLURBS SVG
******************************/

.compass {
  transform: scale(1.2);
  position: relative;
  top: 28px;
  opacity: 0.8;
}

.ranking {
  transform: scale(1.5);
  position: relative;
  top: 28px;
}


/******************************
    SEC 3
******************************/



.sec3-blurbs {
  flex-wrap: wrap;
  column-gap: 10%;
  position: relative;

}

.sec3-blurb {
  flex: calc(33.3% - 10%);
  margin: 0;
  position: relative;
    margin-top: 100px;
}

.sec3-blurb svg {
  font-size: 60px;
  color: #464646;
  margin-bottom: 20px;
}

.sec3-blurb:after {
  content: "";
  width: 200px;
  height: 120px;
  background: #f4f4f4;
  display: inline;
  position: absolute;
  z-index: -1;
  transform: skewX(20deg);
  border-radius: 50%;
  top: -20px;
  right: 20px;
}

.sec3-blurb p {
  font-family: 'Jost';
}

.sec3-blurb h4 {
  display: none;
}